body{
    background-color: aliceblue;
}

#msg_board {
    margin-left:5%;
    margin-top: 100px;
    height: 600px;
    width: 700px;
    background-color: rgba(80,80,90,0.8);
    opacity: 80%;
    border-width: 10px;
    border-radius: 10px;
}

.single_msg{
    font-size: 20px;
    text-shadow: rebeccapurple;
    color: black;
    border-color: rebeccapurple;
    border-radius: 5px;
}
#send_box{
    margin-left:5%;
    height: 40px;
    width: 70%;
    margin-bottom: 10px;
}
#input_msg{
    margin-bottom: 1px;
    border-radius: 5px;
    height: 40px;
    width: 40%;
}